<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OptGiftAI | Personalized Gifts Suggestion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="{{ url_for('dashboard') }}" class="logo" style="text-decoration: none; color: white;">OptGiftAI</a>
        {% if current_user.is_authenticated %}
        <div style="display: flex; align-items: center; gap: 20px;">
            <a href="{{ url_for('view_cart') }}" class="nav-cart">
                <img src="{{ url_for('static', filename='images/cart.png') }}" alt="Cart" class="nav-icon"> 
                Cart <span id="nav-cart-count" class="badge">{{ cart_count }}</span>
            </a>

            <div class="user-dropdown">
                <button class="dropbtn">Welcome, {{ current_user.name }} ▼</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('profile') }}">My Profile</a>
                    <!--<a href="{{ url_for('view_cart') }}">View Cart</a>-->
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>

        </div>
        {% endif %}
    </nav>
    
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <div id="toast-container" class="toast-container"></div>
    <div id="compare-floating-btn" class="compare-float" style="display: none;" onclick="openCompareModal()">
        Compare (<span id="compare-count">0</span>) </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</body>
</html>